@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --brand100: hsl(230, 57%, 50%);
  --brand200: hsl(230, 68%, 54%);
  --grey100: hsl(210, 11%, 15%);
  --grey200: hsl(210, 10%, 23%);
  --grey300: hsl(210, 9%, 31%);
  --grey400: hsl(210, 7%, 56%);
  --grey500: hsl(210, 11%, 71%);
  --grey600: hsl(210, 16%, 93%);
  --grey700: hsl(210, 17%, 95%);
  --grey800: hsl(210, 17%, 98%);
  --grey900: hsl(200, 100%, 99%);
  --alert100: hsl(349, 57%, 50%);
  --alert200: hsl(349, 69%, 55%);
  --sucess100: hsl(162, 88%, 26%);
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

textarea{
  resize: none;
  padding-top: 0.5rem;
  font-family: 'IBM Plex Sans', sans-serif;
}
