@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

.home__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.7rem;
    width: 100%;
}

.logo > img {
    height: 1rem;
    width: 9rem;
    padding-left: 1rem;
}

.home__buttons {
    display: none;
}

.home__button {
    color: var(--primary-color);
    background-color: var(--white-default);
    border: 1px solid var(--primary-color);
    width: 8.875rem;
    height: 3rem;
    font-weight: 700;
    font-size: 1.125rem;
    cursor: pointer;
}

.home__button:hover {
    background-color: var(--primary-color);
    color: var(--white-default);
}

.home__buttons--show {
    position: absolute;
    top: 2.75rem;
    height: 4rem;
    padding-top: 2rem;
    width: 100%;
    text-align: center;
    background-color: var(--white-default);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}

.menu__button {
    padding-right: 1rem;
}

.show {
    display: block;
}

.principal {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img__container {
    display: none;
}

.companies__container {
    width: 100%;
    height: 47rem;
    background-color: var(--grey-background);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.div__companies--main {
    height: 3.5rem;
    width: 100%;
    background-color: var(--primary-color);
}

#choose__sector {
    height: 3.5rem;
    width: 95%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    color: var(--white-default);
    background-color: var(--primary-color);
    outline: none;
    text-align: center;
    appearance: none;
    background-image: url('../assets/img/arrow.svg');
    background-position: right center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.companies__list--container {
    height: 95%;
}

.companies__list {
    display: flex;
    gap: 2rem;
    padding: 3rem;
    overflow-x: auto;
}

.company__item {
    height: 10rem;
    width: 20rem;
    border-bottom: 1px solid var(--primary-color);
    background-color: var(--white-default);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.company__name {
    font-size: 1.1rem;
    font-weight: 600;
    width: 13rem;
    margin-bottom: 3rem;
}

.company__hour {
    font-weight: 400;
}

.div__sector {
    border: 1px solid var(--primary-color);
    border-radius: 255px;
    width: 7rem;
    height: 2rem;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(min-width: 900px) {
    .desktop__header {
        background-color: var(--white-default);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
    }

    .home__nav {
        width: 1200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2rem;
        height: 2rem;
    }

    .logo > img {
        width: 12.6875rem;
        height: 1.3125rem;
    }

    .menu__button {
        display: none;
    }

    .home__buttons {
        display: flex;
        position: relative;
        gap: 1rem;
    }

    .home__buttons--show {
        top: unset;
        height: auto;
        width: auto;
        box-shadow: none;
        padding-top: 0;
    }

    .principal {
        margin-top: 2rem;
        display: flex;
        gap: 2.3rem;
    }

    .img__container {
        display: flex;
        width: 50%;
        height: 46rem;
        align-items: center;
        justify-content: center;
    }

    .img__home {
        margin-left: -3rem;
        width: 34.375rem;
        height: 50rem;
    }

    .companies__container {
        height: 3.2612rem;
        width: 38%;
        margin-bottom: 2rem;
        height: 40rem;
    }

    .companies__list {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        height: 39rem;
        padding: 2rem;
        background-color: var(--grey-background);
        overflow-x: hidden;
        overflow-y: auto;
    }

    .companies__list::-webkit-scrollbar{
        width: 6px;
    }

    .companies__list::-webkit-scrollbar-thumb{
        background-color: var(--primary-color);
    }

    .company__item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 26rem;
        height: 8.4369rem;
    }

    .company__name {
        font-size: 1.25rem;
        margin-bottom: 1rem;
        width: 100%;
    }
}