div{
    display: flex;
    flex-direction: row;
}
section, aside {
    width: 100%;
    padding: 10px;
    background-color: greenyellow;
    border: 2px solid black;
}

@media(max-width: 768px){
    section{
        width: 70%;
    }
    aside{
        width: 30%;
    }
}

